<?xml version="1.0"?>
<config>
    <modules>
        <VS7_DateOfBirth>
            <version>0.1.0</version>
        </VS7_DateOfBirth>
    </modules>
    <frontend>
        <routers>
            <vs7_dateofbirth>
                <use>standard</use>
                <args>
                    <module>VS7_DateOfBirth</module>
                    <frontName>dob</frontName>
                </args>
            </vs7_dateofbirth>
        </routers>
        <layout>
            <updates>
                <vs7_dateofbirth>
                    <file>vs7_dateofbirth.xml</file>
                </vs7_dateofbirth>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <vs7_dateofbirth>
                        <class>VS7_DateOfBirth_Model_Observer</class>
                        <method>replaceTemplate</method>
                    </vs7_dateofbirth>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </frontend>
    <global>
        <models>
            <vs7_dateofbirth>
                <class>VS7_DateOfBirth_Model</class>
            </vs7_dateofbirth>
        </models>
        <blocks>
            <vs7_dateofbirth>
                <class>VS7_DateOfBirth_Block</class>
            </vs7_dateofbirth>
        </blocks>
    </global>
</config>